@charset "utf-8";

html{
  font-size: 10px;
  font-family: HGP創英角ﾎﾟｯﾌﾟ体, sans-serif;
  text-align: center;
  background-color: #fff;
  --themacolor: #940a17;
}

*{
  /* 画面上部の謎の空白を消すため */
  margin: 0;
}