@charset "utf-8";

html{
  font-size: 10px;
  text-align: center;
  background-color: #fff;
}

*{
  /* 画面上部の空白を消すため */
  margin: 0;
}

/* ヘッダーとフッター分の空白 */
#root{
  padding-top: 50px;
  padding-bottom: 60px;
}

img {
  pointer-events: none;
}